---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title='Our journeys'
  description='Our journeys and experiences in our travels, stays and encounters.'
  pubDate={new Date('December 05 2022')}
  heroImage='/lj-hollywood.webp'
>

    <p class='mt-8'>
      Welcome to the extraordinary journey of Leslie and Johnny, two passionate
      wanderers with an insatiable appetite for exploration and a taste for the
      extraordinary. As avid travelers, they have embarked on a global odyssey,
      weaving through the vibrant tapestry of countries, cities, and cultures.
      Their travel blog is not just a collection of destinations; it's a vivid
      chronicle of experiences, a kaleidoscope of moments that have left an
      indelible mark on their souls.
    </p>
    <p>
      From the bustling markets of Marrakech to the serene landscapes of New
      Zealand, Leslie and Johnny have traversed the globe, each adventure
      etching a unique chapter in their travelogue. The streets of Tokyo have
      witnessed their fascination with the intersection of tradition and
      modernity, while the cobbled alleys of Rome have whispered tales of
      romance and history.
    </p>

    <p>
      But it's not just about the places; it's about the people. Leslie and
      Johnny believe in the transformative power of connecting with locals,
      savoring not just the flavors of exotic cuisines but the warmth of human
      stories. Whether sharing a meal with a family in a tucked-away village or
      striking up a conversation with a street artist in Barcelona, they believe
      that the heart of every destination beats in the tales of its people.
    </p>
    <p>
      And then there are the hidden gems—the hole-in-the-wall restaurants with
      secret recipes handed down through generations, the tucked-away viewpoints
      that offer panoramas few have witnessed. Leslie and Johnny are on a quest
      to unearth these treasures, to go beyond the tourist brochures and offer
      you a glimpse into the soul of a place.
    </p>

</Layout>
