---
import Container from './Container.astro';
import Headings from './Headings.astro'
import MasonryTemplate from './/MasonryTemplate.astro';
import MasonryModal from './MasonryModal.astro';
---

<div class='text-center my-16'>
  <Headings text='Image Gallery' variant='h3' className='mb-12' />
</div>
<Container className='h-full w-full mb-16'>
  <div
    x-data=`{ isOpen: false, currentImage: '', currentTitle: '', currentClass:'', currentAlt:'', images: [ 
    {
      largeSrc: '/amamo-restaurant.webp',
      src: '/amamo-restaurant.webp',
      title:
        'Dinner in Auckland with Jan and Claudia',
      className: 'wide',
    },
    {
      largeSrc: '/auckland-beach-webp',
      src: '/imageauckland-beach-webp',
      title:
        'View of The Barn dining area and kitchen from the sofa in the living room.',
      className: 'tall',
    },
    {
      src: '/images/masonry-toiletries-prija@0.5x.webp',
      largeSrc: '/images/masonry-toiletries-prija.webp',
      title:
        'Complimentary toiletries - Shower gel and shampoo and body lotion.',
    },
    {
      src: '/images/masonry-carp-lake@0.5x.webp',
      largeSrc: '/images/masonry-carp-lake.webp',
      title: 'Carp swimming by the lake by the summerhouse.',
    },
    {
      largeSrc: '/images/masonry-the-barn-bed.webp',
      src: '/images/masonry-the-barn-bed@0.5x.webp',
      title: 'The Barn bed and window with views to the lake.',
    },
    {
      largeSrc: '/images/masonry-the-barn-rain-shower.webp',
      src: '/images/masonry-the-barn-rain-shower@0.5x.webp',
      title:
        'Walk-in Shower in The Barn featuring a rain shower and a hand shower.',
      className: 'tall',
    },
    {
      largeSrc: '/images/masonry-porthcurno-minack.webp',
      src: '/images/masonry-porthcurno-minack@0.5x.webp',
      title: 'Porthcurno Beach from Minack Theatre at the end of June.',
      className: 'tall',
    },
    {
      largeSrc: '/images/masonry-the-barn-kitchen.webp',
      src: '/images/masonry-the-barn-kitchen@0.5x.webp',
      title: 'The Barn small fully equipped kitchen.',
      className: 'wide',
    },
    {
      largeSrc: '/images/masonry-summerhouse.webp',
      src: '/images/masonry-summerhouse@0.5x.webp',
      title: 'Summerhouse by the lake ideal for dining and relaxing.',
      className: 'big',
    },
    {
      largeSrc: '/images/masonry-the-barn-from-garden.webp',
      src: '/images/masonry-the-barn-from-garden@0.5x.webp',
      title:
        'View of The Barn, the gardens, outdoor seating and summerhouse.',
      className: 'wide',
    },
    {
      largeSrc: '/images/masonry-praa-sands-beach.webp',
      src: '/images/masonry-praa-sands-beach0.5x.webp',
      title: 'Praa Sands beach in South West Cornwall near Tresowes Green.',
    },
    {
      largeSrc:
        '/images/masonry-st-michaels-mount-sunset.webp',
      src: '/images/masonry-st-michaels-mount-sunset0.5x.webp',
      title:
        'Sunset with St. Michaels Mount in the distance from coastal path.',
    },
    {
      largeSrc: '/images/masonry-Wheal-Grey-Lake-waters.webp',
      src: '/images/masonry-Wheal-Grey-Lake-waters0.5x.webp',
      title:
        'Reflections in the waters of Wheal Grey Lake by Tresowes Green Cottage.',
    },
    {
      largeSrc: '/images/masonry-rinsey-mine.webp',
      src: '/images/masonry-rinsey-mine@0.5x.webp',
      title:
        'Old mine remains in the coastal path from Rinsey to Porthleven.',
    },
    {
      largeSrc: 'images/masonry-Jubilee-Pool-Penzance.webp',
      src: '/images/masonry-Jubilee-Pool-Penzance@0.5x.webp',
      title: 'Jubilee Pool in the coastal town of Penzance.',
    },] , currentIndex: 0 }`
    class='grid-wrapper '
  >
    <!--Masonry Alpine Template -->
    <MasonryTemplate />
    <!-- Masonry ImageLightbox Modal -->
    <MasonryModal />
  </div>
</Container>
