---
import { Icon } from 'astro-icon';
import HeaderLink from './HeaderLink.astro';
const today = new Date();
---

<footer>
  <div class=''>
    &copy; {today.getFullYear()} John Farah. All rights reserved.
  </div>
  <div class='internal-links mt-8'>
    <HeaderLink
      href='/blog'
      class="text-2xl before:content-['_↑_'] after:content-['_↑_']"
    >
      Blog
    </HeaderLink>
  </div>
  <div class='social-links'>
    <a href='https://www.facebook.com/TresowesGreenCottage/' target='_blank'>
      <Icon name='mdi:facebook' class='h-10 w-10' />
      <span class='sr-only'>Follow Tresowes Green Cottage on Facebook</span>
    </a>
    <a href='https://www.instagram.com/tresowesgreencottage/' target='_blank'>
      <Icon name='mdi:instagram' class='h-10 w-10' />
      <span class='sr-only'>Follow Tresowes Green Cottage on Facebook</span>
    </a>

    <a href='https://twitter.com/TresowesG/' target='_blank'>
      <span class='sr-only'>Follow Tresowes Green Cottage on Twitter</span>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='38'
        height='38'
        viewBox='0 0 512 512'
        ><path
          fill='currentColor'
          d='M389.2 48h70.6L305.6 224.2L487 464H345L233.7 318.6L106.5 464H35.8l164.9-188.5L26.8 48h145.6l100.5 132.9L389.2 48zm-24.8 373.8h39.1L151.1 88h-42l255.3 333.8z'
        ></path></svg
      >
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
