---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Icon } from 'astro-icon'
---

<header>
	<nav>
		<h2><a href="/blog">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			
		</div>
		<div class="social-links">
			<a href="https://www.facebook.com/TresowesGreenCottage/" target="_blank">
				<Icon name="mdi:facebook" class="h-10 w-10" />
				<span class="sr-only">Follow Tresowes Green Cottage on Facebook</span>
			</a>
			<a href="https://www.instagram.com/tresowesgreencottage/" target="_blank">
				<Icon name="mdi:instagram" class="h-10 w-10" />
				<span class="sr-only">Follow Tresowes Green Cottage on Facebook</span>
			</a>
			
			<a href="https://twitter.com/TresowesG/" target="_blank">
				<span class="sr-only">Follow Tresowes Green Cottage on Twitter</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 512 512"><path fill="currentColor" d="M389.2 48h70.6L305.6 224.2L487 464H345L233.7 318.6L106.5 464H35.8l164.9-188.5L26.8 48h145.6l100.5 132.9L389.2 48zm-24.8 373.8h39.1L151.1 88h-42l255.3 333.8z"></path></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.2em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
