---
import { Image } from "astro:assets";


type Props = {
	src: any;
	alt: string;
	[key: string]: any;
};

const { src, alt, ...props } = Astro.props;
---

<div class="inline-flex w-fit h-full mx-auto prose pb-5">
    <Image src={src} alt={alt} {...props} transition:name={alt} transition:animate="initial"/>
</div>
 