---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section class='max-w-screen-2xl mx-auto flex justify-between'>
  <h1
    class='text-xl md:text-4xl font-bold tracking-tighter leading-tight md:leading-none mb-12 text-left text-emerald-900'
  >
<slot />
  </h1>
  <a
    href='mailto:info@tgcottage.com'
    class='text-sm  md:text-2xl font-semibold underline underline-offset-4 md:mr-8'
  >
    Email us
  </a>
</section>


