---

import FormattedDate from './FormattedDate.astro';

type Props = {
	pubDate: Date;
	updatedDate?: Date;
	name?: string;
  headline?: string;
	[key: string]: any;
};

const {  pubDate, updatedDate, headline } = Astro.props;


---

<div class='grid grid-cols-1 md:grid-cols-3 max-w-screen-2xl mx-auto my-8 px-12'>
  <div class='text-lg pl-5 text-gray-700 italic'>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
  </div>
  <div class='col-span-2 text-gray-600'>
    <p class='text-normal text-end pr-3'>{headline}</p>
  </div>
</div>
