---
import { ViewTransitions } from 'astro:transitions';
import BaseHead from '@components/BaseHead.astro';
import Footer from '@components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from 'src/consts';
import Header from '@components/Header.astro';
import Container from '@components/Container.astro';


const prodEnv = import.meta.env.PROD;


type Props = {
  title?: string;
  description?: string;
  image?: string;
};

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
} = Astro.props as Props;

---

<html>
  <head>
    <BaseHead title={title} description={description} image={image} />

    <ViewTransitions />
    <style>
      main {
        width: calc(100%);
        max-width: 100%;
        margin: 0;
        padding: 3em 1em;
      }
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <Container class='max-w-screen-2xl mx-auto pt-16 px-2 md:px-16 lg:px-20'>
        <slot />
      </Container>
    </main>
    <Footer />
  </body>
</html>


